$background: #ffffff;
$nav-bar-color: #004875;
$dark-text-color: #504d4d;
$text-color: #7f7d7d;
$blu-text-color: #5594c0;
$title-text-color: #0a4c78;
$subtitle-text-color: #5a5a5a;
$border-color: #cacaca;
$green: #009641;
