/*header part*/
.nav-bar {
  height: 50px;
  background-color: $nav-bar-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__back {
    padding:15px;
    cursor: pointer;
  }

  &__share {
    padding: 15px;
    cursor: pointer;
  }
}

.tabs {
  height: 50px;
  display: flex;

  &__tab {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid $border-color;
    font-weight: 600;
    color: $dark-text-color;
    text-transform: uppercase;
    cursor: pointer;

    &--active {
      color: $green;
      border-bottom: 3px solid $green;
    }
  }
}

.references {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__copy {
    cursor: pointer;
  }

  &__num {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__ref-num {
    font-size: 13px;
    color: $border-color;
    margin-right: 7px;
    text-transform: uppercase;
  }

  &__number {
    color: $dark-text-color;
    font-size: 18px;
  }

  &__selection {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__prev {
    margin-right: 20px;
  }

  &__next, &__prev {
    cursor: pointer;
    padding: 8px 14px 5px;
    background: transparent;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid $border-color;
    }
  }
}

/*banner*/

.banner-block {
  margin-bottom: 20px;

  img {
    width: 100%;
    height: auto;
  }
}

/*blocks*/

.block {
  border: 1px solid $border-color;
  margin-bottom: 20px;
  padding: 0 20px 20px;

  &__title {
    color: $title-text-color;
  }

  &__subtitle {
    font-weight: 600;
    margin-bottom: 10px;
    color: $subtitle-text-color;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
  }

  &__blue-text {
    color: $blu-text-color;
  }

  &__video {
    width: 100%;
  }

  &__address {
    font-style: inherit;
  }

  &--full {
    padding-top: 20px;
  }
}

/*lists*/

.u-list {
  list-style-image: $bullet;

  & > li {
    padding: 0 0 5px 7px;
  }
}

.contact-list {
  list-style: none;
  margin-top: 15px;
  padding: 0;

  &__link-item {
    color: $blu-text-color;
    text-decoration: none;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.map-block {
  display: flex;

  @media screen and (max-width: 540px) {
    flex-wrap: wrap;
  }

  &__title {
    margin:0;
    color: $title-text-color;
  }

  &__map-wrapper {
    position: relative;
    width: 50%;

    @media screen and (max-width: 540px) {
      width: calc(100% - 2px);
      height: 250px;
      order: 2;
    }
  }

  &__map {
    width: 100%;
    height: 250px;
    border: 1px solid $border-color;
  }

  &__button {
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    padding: 6px 12px;
    color: #ffffff;
    background: #004875;
    border: none;
    cursor: pointer;

    @media screen and (max-width: 540px) {
      bottom: 30px;
      top: auto;
      left: 50%;
      transform: translate(-50%);
    }
  }

  &__address {
    margin-left: 10px;
    width: 50%;

    @media screen and (max-width: 540px) {
      margin: 0;
      padding: 20px;
      width: 100%;
      order: 1;
      border: 1px solid $border-color;
      border-bottom: none;
    }
  }
}

.collection {
  display: flex;

  @media screen and (max-width: 540px) {
    display: none;
  }

  &__image {
    margin: 5px;
  }
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 540px) {
    display: none;
  }

  &__image {
    height: 250px;

    img {
      height: 100%;
      width: auto;
    }
  }

  &__prev, &__next {
    cursor: pointer;
    border: none;
    padding: 0;
    background: transparent;
  }
}

.footer {
  height: 50px;
  display: flex;

  @media screen and (min-width: 540px) {
    display: none;
  }

  &__bewerben-btn {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $green;
    text-transform: uppercase;
    cursor: pointer;

    &--active {
      background-color: $green;
      color: #ffffff;
    }

    img {
      margin: 5px;
    }
  }
}





