.layout {
  padding: 100px 120px;

  @media screen and (max-width: 960px) {
    padding: 0;
  }

  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid $border-color;

    @media screen and (max-width: 720px) {
      padding: 25px;
    }
  }
}

.header-block {
  display: none;

  @media screen and (max-width: 540px) {
    display: block;
  }
}
